/* ############################################### Fichero "styles.css" v1.0 ############################################################
   #																																	#
   #   Hoja de estilos en cascada usada en los ficheros .html de las aplicaciones											#
   #																																    #
   ###################################################################################################################################### */

@charset "utf-8";

/* ##### INICIO DE ETIQUETAS (REDEFINICIONES DE ELEMENTOS HTML) */
html {overflow-y:scroll; }
body,p,a,span,div,input,select,textarea,legend,h1,h2,h3,h4,h5,h6,li,dd,dt,th,td { font-family:Arial, Helvetica, sans-serif;}
body,p,a,span,div,input,select,textarea,legend,li,dd,dt,th,td {	font-size:10pt;	}
body { background-color: rgb(216, 232, 251); background-image: url(images/fondo.jpg); background-repeat: no-repeat;	}

#noticeform {width:400px; margin:left;}
#noticeform fieldset {padding:10px;}
#noticeform legend{font-weight:bold; font-size:9pt;}
#noticeform .masNoticia1{ display:block; height:4em; background-color:#B9D6ED; padding:10px 10px 0; text-align:center }
#noticeform .masNoticia2{ display:block; height:9em; background-color:#B9D6ED; padding:10px 10px 0; text-align:center }
#noticeform .masNoticia3{ display:block; height:10em; background-color:#B9D6ED; padding:10px 10px 0; text-align:justify }
#noticeform input:focus,#noticeform input:hover {border:1px solid #333333;}

#registrarform {width:350px; margin:left;}
#registrarform fieldset {padding:10px;}
#registrarform legend{font-weight:bold; font-size:9pt;}
#registrarform label{ display:block; height:2em; background-color:#B9D6ED; padding:10px 10px 0; }
#registrarform input {margin-right:20px;border:1px solid #999999;float:right;clear:right;background:#CCCCCC;}
#registrarform input:focus,#registrarform input:hover {border:1px solid #333333;}

#loginform {width:320px; margin:left;}
#loginform fieldset {padding:10px;}
#loginform legend{font-weight:bold; font-size:9pt;}
#loginform label{ display:block; height:2em; background-color:#B9D6ED; padding:10px 10px 0; }
#loginform input {margin-right:20px;border:1px solid #999999;float:right;clear:right;background:#CCCCCC;}
#loginform input:focus,#loginform input:hover {border:1px solid #333333;}

.botones { width:100px; margin-right:1px; border:1px solid #999999; float:right; clear:right; background:#CCCCCC; }

/* STYLO TINY */
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#B9D6ED url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}
